
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
  <meta name="referrer" content="origin">
  <link rel="canonical" href="https://www.europages.fr/entreprises/pi%C3%A8ce%20de%20rechange.html"/>
  <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.europages.fr/entreprises/pi%C3%A8ce%20de%20rechange.html"/>
  <link rel="alternate" media="handheld" href="https://m.europages.fr/entreprises/pi%C3%A8ce%20de%20rechange.html"/>

  <link rel="next" href="https://www.europages.fr/entreprises/pg-2/pi%C3%A8ce%20de%20rechange.html"/>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <title>
    Fournisseur pièce de rechange  - Devis achat | Europages
  </title>

  <meta content="Parcourez les entreprises présentes dans le secteur pièce de rechange sur Europages, plateforme B2B pour trouver des partenaires à l'international." name="description"/>

  <meta name="keywords" content="pièce de rechange"/>

  <meta name="msvalidate.01" content="21932189F7F74C92BD218E2737FB13B1"/>
  <meta name="google-site-verification" content="SGHT4s0gpMC2KMyHZfEvNnj1dIwUfggoLp0fuYd7oLI"/>
  <meta name="y_key" content="d7cb213c2ffa621b"/>
  <link rel="shortcut icon" href="https://www.europages.com/commons/favicon.ico"/>
  <link rel="shortcut icon" href="https://www.europages.com/commons/favicon.png" type="image/png"/>
  <link rel="apple-touch-icon" href="https://www.europages.com/commons/images/apple-icon.png"/>

  <style type='text/css'>
    @font-face {
      font-family: "directory-icon-font";
      src:url("/commons/css/fonts/directory-icon-font.eot");
      src:url("/commons/css/fonts/directory-icon-font.eot?#iefix") format("embedded-opentype"),
      url("/commons/css/fonts/directory-icon-font.woff") format("woff"),
      url("/commons/css/fonts/directory-icon-font.ttf") format("truetype"),
      url("/commons/css/fonts/directory-icon-font.svg#directory") format("svg");
      font-weight: normal;
      font-style: normal;
    }

    @font-face{
      font-family: 'Lato';
      src:url('/commons/css/fonts/lato-regular.eot');
      src:url('/commons/css/fonts/lato-regular.eot?#iefix') format('embedded-opentype'),
      url('/commons/css/fonts/lato-regular.woff') format('woff'),
      url('/commons/css/fonts/lato-regular.ttf') format('truetype'),
      url('/commons/css/fonts/lato-regular.svg#webfont') format('svg');
      font-weight: normal;
      font-style: normal;
    }

    @font-face{
      font-family: 'LatoBold';
      src:url('/commons/css/fonts/lato-bold.eot');
      src:url('/commons/css/fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
      url('/commons/css/fonts/lato-bold.woff') format('woff'),
      url('/commons/css/fonts/lato-bold.ttf') format('truetype'),
      url('/commons/css/fonts/lato-bold.svg#webfont') format('svg');
      font-weight: normal;
      font-style: normal;
    }

  </style>

  <link rel="stylesheet" href="https://www.europages.com/directory/css/directory_v7.css" media="screen, print" type="text/css"/>
  <link rel="stylesheet" href="https://www.europages.com/directory/css/gmap_v4.css" media="screen, print" type="text/css"/>
  <link rel="stylesheet" href="https://www.europages.com/directory/css/directory_fr.css" media="screen, print" type="text/css"/>


  <script type="text/javascript" src="https://www.europages.com/commons/js/libs.js"></script>

  <script type="text/javascript" src="https://www.europages.com/commons/js/ep.tools.js"></script>
  <script type="text/javascript" src="https://www.europages.com/commons/js/ep02.js"></script>

  <script src="https://www.europages.com/commons/js/detect.js"></script>
  <script type="text/javascript" src="https://www.europages.com/commons/js/smarttag.js"></script>

  <script type="text/javascript">ns_loadingtime1=(new Date()).getTime()</script>
  <script type="text/javascript">
    window.EPLang = 'fr';
    var Europages = {
      'lang' : 'fr',
      'international_query' : true,
      'match':'3138',
      'did': '',

      'google' : {
        'API_KEY' : 'AIzaSyB4svCu0t1x-CdpT1rX5ac6wrRiPyxfdcQ',
        'MARKERS_URI' : '/commons/images/icons/markers/',
        'util' : {},
        'labels' : {'view_profile' : 'Voir la fiche complète','view_website' : 'Site web'}
      },
      'rfi_selection_list' : [],
      'rfi_selection_labels_list' : [],
      'rfi_basket_show' : 'Afficher',
      'rfi_basket_hide' : 'Masquer',
      'mapmode' : false
    };
    var showNumber = 'Affichez le numéro de téléphone';
  </script>
  <script type="text/javascript" src="https://www.europages.com/directory/js/gmap_v2.js"></script>

  <script type="text/javascript" src="https://www.europages.com/directory/js/product_list.js"></script>


</head>

<body itemtype="https://schema.org/WebPage" class="w1224" onmouseover="" ontouchstart="">


<script type="text/javascript">
  var __pp_s='s';
  var __pp_u='https://api.pagepeeker.com/v2/thumbs_generated.php?size='+__pp_s+'&url=';
  var __pp_f='https://api.pagepeeker.com/v2/thumbs.php?size='+__pp_s+'&url=';
  var h = window.document.getElementsByTagName('body')[0];
  function __pp_rd(rd,r)
  {
    if (!document.getElementById('__pp_i_' + r)) return;
    if (rd==1) {
      document.getElementById('__pp_i_' + r).src=__pp_f+r+'&r='+Math.random();
    } else {
      setTimeout("__pp_call('"+r+"')", 5000);
    }
  }

  function __pp_call(r)
  {
    if (!document.getElementById('__pp_i_' + r))
    {
      document.write('<img id="__pp_i_'+r+'" src="'+__pp_f+r+'&r='+Math.random()+'" />');
    }
    var e=document.getElementById('__pp_scr_'+r);
    if (e) h.removeChild(e);
    var s=document.createElement('script');
    s.type='text/javascript';
    s.async=true;
    s.src=__pp_u+encodeURIComponent(r)+'&r='+Math.random();
    s.id='__pp_scr_'+r;
    if(h != undefined) { h.appendChild(s); }
  }


  function __pp_call_ext(r,obj)
  {
    obj.append('<img id="__pp_i_'+r+'" src="'+__pp_f+r+'&r='+Math.random()+'" />');
    var e=document.getElementById('__pp_scr_'+r);
    if (e) h.removeChild(e);
    var s=document.createElement('script');
    s.type='text/javascript';
    s.async=true;
    s.src=__pp_u+encodeURIComponent(r)+'&r='+Math.random();
    s.id='__pp_scr_'+r;
    if(h != undefined) { h.appendChild(s); }
  }

  $(document).ready( function() {
    $('.id-pagepeeker-data').each( function() {
      var $self = $(this);
      var attr = $(this).data('resolve');
      var alt = $(this).data('alt');
      if (typeof attr == "undefined") {
        var rel = $self.attr('rel');
        __pp_call_ext(rel,$self);
        $(this).data('resolve','1');
        $(this).find('img').attr('alt', alt);
      }
    });
  });
</script>


<header class='headerbar data-nav-results' role="banner">
  <nav class='navbar wrapper clearfix'>
    <script type="text/javascript">
      window.firstPartURI = 'https://www.europages.fr';
      window.secondPartURI = '/myEuropages/authBridge.json';
      window.serviceURI = 'https://www.europages.fr';
      window.pagename = 'directory/pages/ProductList';
      LOGON = new EPLogon();
      LOGON.setModes(window.pagename);
      LOGON.init(window.firstPartURI,window.secondPartURI);

      var fInit = "pagelang"; if(window.pagename == "directory/pages/CatalogPage" || window.pagename == "directory/pages/LandingCatalogProductPage") { fInit = "pagecatlang"; }
      formManager.init(fInit);
    </script>

    <div id="header-nav-page-wrapper">
      <div class="block-logo-language">
        <!-- env types -->


      </div>
      <!-- europages logo -->

      <a href="https://imgur.com/1PsiaQq"><img src="https://i.imgur.com/1PsiaQq.png" title="source: imgur.com" width="200" style="cursor:pointer" height="32" /></a>

      <!-- language selection -->



    </div>
    <span id="tagUserId" class="hide"></span>
    <span id="tagCategoryId" class="hide"></span>
    <div class="header-directory">


    </div>

    <style type='text/css'>.ui-autocomplete{position:absolute;z-index:1000}</style>

  </nav>
</header>
<div id='toprake'>
  <div class='wrapper clearfix'>

  </div>
</div>
<div class="wrapper clearfix">

  <script>
    window.productListType = 'ALL';
    window.productQuery = 'pièce de rechange';
  </script>

  <a name="link_map"></a>

  <div id="searchresults">

  </div>

  <div id="leftbar" class="col" role="complementary">

    <span class="h2 grey">Affiner votre recherche<span id="filtersCloseButton"></span></span>

    <div class="filtersMapAction filtersmap">
      <span class="img"></span>
      <span class="text upper">Localiser les entreprises sur une carte</span>
    </div>

    <ul class="filtersform clearfix">
      <!--  countries  -->


      <li class="by_country">
        <span class="h3">PAR&nbsp;<strong>pays</strong>&nbsp;</span>
        <div class="scrollbar-inner">
          <ul class="domainfilter">

            <li>





              <a href="https://www.europages.fr/entreprises/France/pi%C3%A8ce%20de%20rechange.html" title="France" class="display-spinner">
                France&nbsp;(468)
              </a>


            </li>

            <li>





              <a href="https://www.europages.fr/entreprises/Allemagne/pi%C3%A8ce%20de%20rechange.html" title="Allemagne" class="display-spinner">
                Allemagne&nbsp;(380)
              </a>


            </li>

            <li>


              <a href="https://www.europages.fr/entreprises/Turquie/pi%C3%A8ce%20de%20rechange.html" title="Turquie" class="display-spinner">
                Turquie&nbsp;(305)
              </a>


            </li>

            <li>





              <a href="https://www.europages.fr/entreprises/R%C3%A9publique%20tch%C3%A8que/pi%C3%A8ce%20de%20rechange.html" title="République tchèque" class="display-spinner">
                République tchèque&nbsp;(283)
              </a>


            </li>

            <li>





              <a href="https://www.europages.fr/entreprises/Italie/pi%C3%A8ce%20de%20rechange.html" title="Italie" class="display-spinner">
                Italie&nbsp;(238)
              </a>


            </li>

            <li>





              <a href="https://www.europages.fr/entreprises/Belgique/pi%C3%A8ce%20de%20rechange.html" title="Belgique" class="display-spinner">
                Belgique&nbsp;(160)
              </a>


            </li>

            <li>





              <a href="https://www.europages.fr/entreprises/Espagne/pi%C3%A8ce%20de%20rechange.html" title="Espagne" class="display-spinner">
                Espagne&nbsp;(150)
              </a>


            </li>

            <li>





              <a href="https://www.europages.fr/entreprises/Chine/pi%C3%A8ce%20de%20rechange.html" title="Chine" class="display-spinner">
                Chine&nbsp;(126)
              </a>


            </li>

            <li>





              <a href="https://www.europages.fr/entreprises/Pologne/pi%C3%A8ce%20de%20rechange.html" title="Pologne" class="display-spinner">
                Pologne&nbsp;(118)
              </a>


            </li>

            <li>





              <a href="https://www.europages.fr/entreprises/Slovaquie/pi%C3%A8ce%20de%20rechange.html" title="Slovaquie" class="display-spinner">
                Slovaquie&nbsp;(116)
              </a>


            </li>


            <li>



              <a href="https://www.europages.fr/entreprises/Tunisie/pi%C3%A8ce%20de%20rechange.html" title="Tunisie" class="display-spinner">
                Tunisie&nbsp;(97)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Hongrie/pi%C3%A8ce%20de%20rechange.html" title="Hongrie" class="display-spinner">
                Hongrie&nbsp;(85)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Royaume-Uni/pi%C3%A8ce%20de%20rechange.html" title="Royaume-Uni" class="display-spinner">
                Royaume-Uni&nbsp;(81)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Roumanie/pi%C3%A8ce%20de%20rechange.html" title="Roumanie" class="display-spinner">
                Roumanie&nbsp;(50)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Autriche/pi%C3%A8ce%20de%20rechange.html" title="Autriche" class="display-spinner">
                Autriche&nbsp;(48)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Gr%C3%A8ce/pi%C3%A8ce%20de%20rechange.html" title="Grèce" class="display-spinner">
                Grèce&nbsp;(45)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Luxembourg/pi%C3%A8ce%20de%20rechange.html" title="Luxembourg" class="display-spinner">
                Luxembourg&nbsp;(30)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Alg%C3%A9rie/pi%C3%A8ce%20de%20rechange.html" title="Algérie" class="display-spinner">
                Algérie&nbsp;(28)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Russie/pi%C3%A8ce%20de%20rechange.html" title="Russie" class="display-spinner">
                Russie&nbsp;(27)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Bulgarie/pi%C3%A8ce%20de%20rechange.html" title="Bulgarie" class="display-spinner">
                Bulgarie&nbsp;(24)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Danemark/pi%C3%A8ce%20de%20rechange.html" title="Danemark" class="display-spinner">
                Danemark&nbsp;(22)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Maroc/pi%C3%A8ce%20de%20rechange.html" title="Maroc" class="display-spinner">
                Maroc&nbsp;(19)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Pays-Bas/pi%C3%A8ce%20de%20rechange.html" title="Pays-Bas" class="display-spinner">
                Pays-Bas&nbsp;(17)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Inde/pi%C3%A8ce%20de%20rechange.html" title="Inde" class="display-spinner">
                Inde&nbsp;(16)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Portugal/pi%C3%A8ce%20de%20rechange.html" title="Portugal" class="display-spinner">
                Portugal&nbsp;(16)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Norv%C3%A8ge/pi%C3%A8ce%20de%20rechange.html" title="Norvège" class="display-spinner">
                Norvège&nbsp;(15)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Suisse/pi%C3%A8ce%20de%20rechange.html" title="Suisse" class="display-spinner">
                Suisse&nbsp;(15)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Cor%C3%A9e%20du%20Sud/pi%C3%A8ce%20de%20rechange.html" title="Corée du Sud" class="display-spinner">
                Corée du Sud&nbsp;(14)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Ukraine/pi%C3%A8ce%20de%20rechange.html" title="Ukraine" class="display-spinner">
                Ukraine&nbsp;(12)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Slov%C3%A9nie/pi%C3%A8ce%20de%20rechange.html" title="Slovénie" class="display-spinner">
                Slovénie&nbsp;(11)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Emirats%20Arabes%20Unis/pi%C3%A8ce%20de%20rechange.html" title="Emirats Arabes Unis" class="display-spinner">
                Emirats Arabes Unis&nbsp;(9)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Lituanie/pi%C3%A8ce%20de%20rechange.html" title="Lituanie" class="display-spinner">
                Lituanie&nbsp;(9)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Ta%C3%AFwan/pi%C3%A8ce%20de%20rechange.html" title="Taïwan" class="display-spinner">
                Taïwan&nbsp;(9)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Irlande/pi%C3%A8ce%20de%20rechange.html" title="Irlande" class="display-spinner">
                Irlande&nbsp;(8)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Lettonie/pi%C3%A8ce%20de%20rechange.html" title="Lettonie" class="display-spinner">
                Lettonie&nbsp;(7)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/B%C3%A9larus/pi%C3%A8ce%20de%20rechange.html" title="Bélarus" class="display-spinner">
                Bélarus&nbsp;(6)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Estonie/pi%C3%A8ce%20de%20rechange.html" title="Estonie" class="display-spinner">
                Estonie&nbsp;(5)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Finlande/pi%C3%A8ce%20de%20rechange.html" title="Finlande" class="display-spinner">
                Finlande&nbsp;(5)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Iran/pi%C3%A8ce%20de%20rechange.html" title="Iran" class="display-spinner">
                Iran&nbsp;(4)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Serbie/pi%C3%A8ce%20de%20rechange.html" title="Serbie" class="display-spinner">
                Serbie&nbsp;(4)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/S%C3%A9n%C3%A9gal/pi%C3%A8ce%20de%20rechange.html" title="Sénégal" class="display-spinner">
                Sénégal&nbsp;(4)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Cameroun/pi%C3%A8ce%20de%20rechange.html" title="Cameroun" class="display-spinner">
                Cameroun&nbsp;(3)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Chypre/pi%C3%A8ce%20de%20rechange.html" title="Chypre" class="display-spinner">
                Chypre&nbsp;(3)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Etats-Unis%20d%27Am%C3%A9rique/pi%C3%A8ce%20de%20rechange.html" title="Etats-Unis d'Amérique" class="display-spinner">
                Etats-Unis d'Amérique&nbsp;(3)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Arabie%20Saoudite/pi%C3%A8ce%20de%20rechange.html" title="Arabie Saoudite" class="display-spinner">
                Arabie Saoudite&nbsp;(2)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Br%C3%A9sil/pi%C3%A8ce%20de%20rechange.html" title="Brésil" class="display-spinner">
                Brésil&nbsp;(2)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Canada/pi%C3%A8ce%20de%20rechange.html" title="Canada" class="display-spinner">
                Canada&nbsp;(2)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Congo/pi%C3%A8ce%20de%20rechange.html" title="Congo" class="display-spinner">
                Congo&nbsp;(2)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Cor%C3%A9e%20du%20Nord/pi%C3%A8ce%20de%20rechange.html" title="Corée du Nord" class="display-spinner">
                Corée du Nord&nbsp;(2)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/C%C3%B4te%20d%27Ivoire/pi%C3%A8ce%20de%20rechange.html" title="Côte d'Ivoire" class="display-spinner">
                Côte d'Ivoire&nbsp;(2)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Egypte/pi%C3%A8ce%20de%20rechange.html" title="Egypte" class="display-spinner">
                Egypte&nbsp;(2)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Georgie/pi%C3%A8ce%20de%20rechange.html" title="Georgie" class="display-spinner">
                Georgie&nbsp;(2)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Hong%20Kong/pi%C3%A8ce%20de%20rechange.html" title="Hong Kong" class="display-spinner">
                Hong Kong&nbsp;(2)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Mayotte/pi%C3%A8ce%20de%20rechange.html" title="Mayotte" class="display-spinner">
                Mayotte&nbsp;(2)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Mexique/pi%C3%A8ce%20de%20rechange.html" title="Mexique" class="display-spinner">
                Mexique&nbsp;(2)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Pakistan/pi%C3%A8ce%20de%20rechange.html" title="Pakistan" class="display-spinner">
                Pakistan&nbsp;(2)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Australie/pi%C3%A8ce%20de%20rechange.html" title="Australie" class="display-spinner">
                Australie&nbsp;(1)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Burkina%20Faso/pi%C3%A8ce%20de%20rechange.html" title="Burkina Faso" class="display-spinner">
                Burkina Faso&nbsp;(1)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/B%C3%A9nin/pi%C3%A8ce%20de%20rechange.html" title="Bénin" class="display-spinner">
                Bénin&nbsp;(1)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Christmas,%20%C3%8Ele/pi%C3%A8ce%20de%20rechange.html" title="Christmas, Île" class="display-spinner">
                Christmas, Île&nbsp;(1)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Croatie/pi%C3%A8ce%20de%20rechange.html" title="Croatie" class="display-spinner">
                Croatie&nbsp;(1)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Guin%C3%A9e/pi%C3%A8ce%20de%20rechange.html" title="Guinée" class="display-spinner">
                Guinée&nbsp;(1)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Indon%C3%A9sie/pi%C3%A8ce%20de%20rechange.html" title="Indonésie" class="display-spinner">
                Indonésie&nbsp;(1)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Islande/pi%C3%A8ce%20de%20rechange.html" title="Islande" class="display-spinner">
                Islande&nbsp;(1)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Japon/pi%C3%A8ce%20de%20rechange.html" title="Japon" class="display-spinner">
                Japon&nbsp;(1)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Jordanie/pi%C3%A8ce%20de%20rechange.html" title="Jordanie" class="display-spinner">
                Jordanie&nbsp;(1)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Liban/pi%C3%A8ce%20de%20rechange.html" title="Liban" class="display-spinner">
                Liban&nbsp;(1)
              </a>

            </li>

            <li>



              <a href="#" title="Mauritanie" class="display-spinner">
                Mauritanie&nbsp;(1)
              </a>

            </li>

            <li>



              <a href="#" title="Nigéria" class="display-spinner">
                Nigéria&nbsp;(1)
              </a>

            </li>

            <li>



              <a href="#" title="Réunion" class="display-spinner">
                Réunion&nbsp;(1)
              </a>

            </li>

            <li>



              <a href="#" title="Somalie" class="display-spinner">
                Somalie&nbsp;(1)
              </a>

            </li>

            <li>



              <a href="#" title="Syrie" class="display-spinner">
                Syrie&nbsp;(1)
              </a>

            </li>

            <li>



              <a href="#" title="Viêt Nam" class="display-spinner">
                Viêt Nam&nbsp;(1)
              </a>

            </li>

            <li>



              <a href="#" title="Vénézuela" class="display-spinner">
                Vénézuela&nbsp;(1)
              </a>

            </li>

            <li>



              <a href="#" title="Åland, Îles" class="display-spinner">
                Åland, Îles&nbsp;(1)
              </a>

            </li>


          </ul>
        </div>
      </li>


      <!--  supplier  -->

      <!--  category  -->

      <li class="by_type">
        <span class="h3">PAR&nbsp;<strong>catégorie</strong>&nbsp;</span>
        <div class="scrollbar-inner">
          <ul class="domainfilter">

            <li>




              <a  href="#" title="Pièces de rechange pour automobiles" class="display-spinner">
                Pièces de rechange pour automobiles&nbsp;(2048)
              </a>



            </li>

            <li>




              <a  href="#"  title="Véhicules - composants et pièces mécaniques" class="display-spinner">
                Véhicules - composants et pièces mécaniques&nbsp;(1137)
              </a>



            </li>

            <li>




              <a href="#" title="Pièces de rechange pour camions et remorques" class="display-spinner">
                Pièces de rechange pour camions et remorques&nbsp;(235)
              </a>



            </li>

            <li>




              <a href="#" title="Pièces de rechange pour moteurs diesels" class="display-spinner">
                Pièces de rechange pour moteurs diesels&nbsp;(225)
              </a>



            </li>

            <li>




              <a href="#" title="Automobiles" class="display-spinner">
                Automobiles&nbsp;(219)
              </a>



            </li>


            <li>



              <a href="#" title="Voitures de tourisme" class="display-spinner">
                Voitures de tourisme&nbsp;(164)
              </a>

            </li>

            <li>



              <a href="#" title="Voitures d'occasion" class="display-spinner">
                Voitures d'occasion&nbsp;(128)
              </a>

            </li>

            <li>



              <a href="#" title="Pièces de rechange pour moteurs diesels de bateaux" class="display-spinner">
                Pièces de rechange pour moteurs diesels de bateaux&nbsp;(126)
              </a>

            </li>

            <li>



              <a  href="#" title="Réparation de véhicules" class="display-spinner">
                Réparation de véhicules&nbsp;(90)
              </a>

            </li>

            <li>



              <a href="#" title="Garages et stations-service - matériel et installations" class="display-spinner">
                Garages et stations-service - matériel et installations&nbsp;(69)
              </a>

            </li>

            <li>



              <a href="#" title="Véhicules - composants et pièces électriques et électroniques" class="display-spinner">
                Véhicules - composants et pièces électriques et électroniques&nbsp;(63)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Navires%20-%20appareils%20et%20%C3%A9quipements/pi%C3%A8ce%20de%20rechange.html" title="Navires - appareils et équipements" class="display-spinner">
                Navires - appareils et équipements&nbsp;(61)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Moteurs%20diesel/pi%C3%A8ce%20de%20rechange.html" title="Moteurs diesel" class="display-spinner">
                Moteurs diesel&nbsp;(60)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Moteurs%20et%20pi%C3%A8ces/pi%C3%A8ce%20de%20rechange.html" title="Moteurs et pièces" class="display-spinner">
                Moteurs et pièces&nbsp;(51)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Moteurs%20%C3%A0%20combustion%20-%20composants%20et%20pi%C3%A8ces/pi%C3%A8ce%20de%20rechange.html" title="Moteurs à combustion - composants et pièces" class="display-spinner">
                Moteurs à combustion - composants et pièces&nbsp;(50)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/V%C3%A9hicules%20-%20accessoires%20et%20%C3%A9quipements/pi%C3%A8ce%20de%20rechange.html" title="Véhicules - accessoires et équipements" class="display-spinner">
                Véhicules - accessoires et équipements&nbsp;(44)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Camions,%20camionnettes%20et%20v%C3%A9hicules%20utilitaires/pi%C3%A8ce%20de%20rechange.html" title="Camions, camionnettes et véhicules utilitaires" class="display-spinner">
                Camions, camionnettes et véhicules utilitaires&nbsp;(41)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Moteurs%20%C3%A0%20combustion/pi%C3%A8ce%20de%20rechange.html" title="Moteurs à combustion" class="display-spinner">
                Moteurs à combustion&nbsp;(39)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/V%C3%A9hicules%20d%27occasion/pi%C3%A8ce%20de%20rechange.html" title="Véhicules d'occasion" class="display-spinner">
                Véhicules d'occasion&nbsp;(36)
              </a>

            </li>

            <li>



              <a href="https://www.europages.fr/entreprises/Automobiles%20-%20composants%20et%20pi%C3%A8ces%20%C3%A9lectriques%20et%20%C3%A9lectroniques/pi%C3%A8ce%20de%20rechange.html" title="Automobiles - composants et pièces électriques et électroniques" class="display-spinner">
                Automobiles - composants et pièces électriques et électroniques&nbsp;(29)
              </a>

            </li>

          </ul>
        </div>
      </li>

      <!--  company cat  -->

      <li class="by_category">
        <span class="h3">PAR&nbsp;<strong>Type d'entreprise</strong>&nbsp;</span>
        <ul class="domainfilter">

          <li>

            <a href="https://www.europages.fr/entreprises/Sous-traitant/pi%C3%A8ce%20de%20rechange.html" title="Sous-traitant" class="display-spinner">
              Sous-traitant&nbsp;(18)
            </a>


          </li>

          <li>

            <a href="https://www.europages.fr/entreprises/Agent%20Repr%C3%A9sentant/pi%C3%A8ce%20de%20rechange.html" title="Agent/Représentant" class="display-spinner">
              Agent/Représentant&nbsp;(38)
            </a>

          </li>

          <li>





            <a href="https://www.europages.fr/entreprises/D%C3%A9taillant/pi%C3%A8ce%20de%20rechange.html" title="Détaillant" class="display-spinner">
              Détaillant&nbsp;(217)
            </a>


          </li>

          <li>





            <a href="https://www.europages.fr/entreprises/Prestataire%20de%20services/pi%C3%A8ce%20de%20rechange.html" title="Prestataire de services" class="display-spinner">
              Prestataire de services&nbsp;(388)
            </a>


          </li>

          <li>





            <a href="https://www.europages.fr/entreprises/Distributeur/pi%C3%A8ce%20de%20rechange.html" title="Distributeur" class="display-spinner">
              Distributeur&nbsp;(444)
            </a>


          </li>

          <li>





            <a href="https://www.europages.fr/entreprises/Grossiste/pi%C3%A8ce%20de%20rechange.html" title="Grossiste" class="display-spinner">
              Grossiste&nbsp;(771)
            </a>


          </li>

          <li>





            <a href="https://www.europages.fr/entreprises/Fabricant%20Producteur/pi%C3%A8ce%20de%20rechange.html" title="Fabricant/Producteur" class="display-spinner">
              Fabricant/Producteur&nbsp;(929)
            </a>


          </li>

        </ul>
      </li>

      <!--  company size  -->

      <li class="by_size">
        <span class="h3">PAR&nbsp;<strong>effectif</strong>&nbsp;</span>
        <ul class="domainfilter">

          <li>

            <a href="https://www.europages.fr/entreprises/1%E2%80%9310/pi%C3%A8ce%20de%20rechange.html" title="1 – 10" class="display-spinner">
              1 – 10&nbsp;(661)
            </a>


          </li>

          <li>

            <a href="https://www.europages.fr/entreprises/11%E2%80%9350/pi%C3%A8ce%20de%20rechange.html" title="11 – 50" class="display-spinner">
              11 – 50&nbsp;(703)
            </a>


          </li>

          <li>

            <a href="https://www.europages.fr/entreprises/51%E2%80%93100/pi%C3%A8ce%20de%20rechange.html" title="51 – 100" class="display-spinner">
              51 – 100&nbsp;(202)
            </a>
          </li>

          <li>
            <a href="https://www.europages.fr/entreprises/101-200/pi%C3%A8ce%20de%20rechange.html" title="101 - 200" class="display-spinner">
              101 - 200&nbsp;(142)
            </a>
          </li>

          <li>





            <a href="https://www.europages.fr/entreprises/201-500/pi%C3%A8ce%20de%20rechange.html" title="201 - 500" class="display-spinner">
              201 - 500&nbsp;(115)
            </a>


          </li>

          <li>
            <a href="https://www.europages.fr/entreprises/%3E500/pi%C3%A8ce%20de%20rechange.html" title="&gt; 500" class="display-spinner">
              &gt; 500&nbsp;(113)
            </a>


          </li>

        </ul>
      </li>

    </ul>

  </div>
  <div id="content" class="col clearfix">
    <div id="contentpage_blocktabs" class="blocktabALL clearfix">

      <span id="filtersButton" class="filtersIcon"></span>
      <span id="filtersMapButton" class="filtersMapAction filtersMapIcon" data-balloon="Localiser les entreprises sur une carte" data-balloon-pos="right"></span>





      <div class="tab-enterprises active">
        <h2 class="upper">3&nbsp;



          entreprises

        </h2>
      </div>






      <div class="tab-products">
        <a href="#" title="" class="display-spinner">
          <h2 class="upper">3&nbsp;Produits </h2>
        </a>
      </div>



    </div>

    <div class="sectorsfilter clearfix">
      <h3>Trouvez un fournisseur dans les secteurs suivants</h3>
      <ul class="clearfix">
        <li>


          <a href="#" title="Véhicules et matériels de transport" class="display-spinner sector06">
            Véhicules et matériels de transport
          </a>



        </li>

        <li>
          <a href="#" title="Construction mécanique et industrie - équipements" class="display-spinner sector05">
            Construction mécanique et industrie - équipements
          </a>


        </li>

        <li>
          <a href="#" title="Services aux entreprises" class="display-spinner sector24">
            Services aux entreprises
          </a>
        </li>

        <li>
          <a href="#" title="Métallurgie et travail des métaux" class="display-spinner sector04">
            Métallurgie et travail des métaux
          </a>



        </li>

        <li>
          <a href="#" title="Equipement électrique et électronique" class="display-spinner sector14">
            Equipement électrique et électronique
          </a>
        </li>

      </ul>
    </div>


    <div id="articles-map">
      <div id="map_closure"></div>
      <div id="map_canvas"></div>
    </div>

    <div id="contentEcard" class="col clearfix">

      <app-api-companies> </app-api-companies>

      <div class="bloc" style="background:#fff;width:100%"><div id="adContainer" style="margin:15px"></div></div>
      <script type="text/javascript" charset="utf-8">
        var pageOptions = {
          'pubId': 'pub-3079598329332224',
          'query': "pièce de rechange",
          'hl': 'fr',
          'channel':'1201259791'
        };

        var adblock1 = {
          'container': 'adContainer',
          'number' : 3,
          'width': '464px',
          'padding': '10px',
          'colorTitleLink' : '#615E59',
          'colorDomainLink' : '#96BF0D',
          'colorDescription' : '#615E59',
          'fontSizeTitle' : 14
        };

        _googCsa('ads', pageOptions, adblock1);
      </script>

      <script>
        $(document).ready( function() {
          $('.pagi-toggle').click(function () {
            var text = $(this).next('div.pagi-more');
            var pagiPlus = 'Afficher ';
            var pagiLess = 'Afficher moins';
            if (text.hasClass('hide')) {
              text.addClass('show').removeClass('hide');
              $(this).text(pagiLess);
            } else {
              text.addClass('hide').removeClass('show');
              $(this).text(pagiPlus);
            }
          });
        });
      </script>


    </div>

  </div>


  <script type="text/javascript" charset="utf-8">
    $(window).load(function() {
      $('.flexslider').flexslider({
        animation: "slide",
        direction: "vertical",
        animationLoop: true,
        controlNav: false,
        directionNav: true,
        slideshow: false,
        prevText: "",
        nextText: ""
      });
      clickable();
    });
  </script>


</div>


<div id="skyscraper" class="bloc"></div>

<script type="text/javascript">
  var adagioAsync = true;
  var adagioBCode = "";
  var engineResponse = true;
  var engineResponse20 = true;
  var productPage = false
  var lang='fr';
  var c1="06240K|06240|06240J|05790I|06205";
  var c2="06205D|06212A|06300F|21820C|05880|06242|06300|05785B|05764|05790|06245|06210|05785|06212|06242B|21820|06300A|21820F|21905|05547|05931|21820B|20580|04559|05509|06212C|05590A|20610|05732|14540|21668|06210A|07125E|05509J|05509M|08225C|14540A|19630|06270|20540|06240B|05680|06330|05940|04663|06240C|06305|06212B|05760|06250|06295|08225|05805|05512|05775|06242A|05900|06215|05590|20590|04668|21820E|14545C|10657U|08209|08209D|06295C|04596|06240H|05583|04680|06240I|07125B|05810A|06265|05790F|05820A|06238|06255|05900B|05880C|06310|05840A|05552|05820|05577|04593|05580E|05835D|05777O|10700|05584|05935A|05935|05600";
  if (!window.adagioBL) adagioBL = "";
  var rnum = parseInt((Math.random()*(Date.parse(new Date()))));
  var sectors1="06|05";
  var sectors2="06|21|05|20|04|14|07|08|19|10";

  //case : first headings list is empty so first domains code list also
  if(sectors1=="") {
    if(typeof Europages != 'undefined') {
      sectors1=Europages.did;
    }
  }

  if(c1=="")
    c1=sectors1;
  else
    c1+="|"+sectors1;
  if(c2=="")
    c2=sectors2;
  else
    c2+="|"+sectors2;

  jQuery(document).ready(function(){
    var adagioCallHD = "https://ad48.neodatagroup.com/ad/europ.jsp?site="+lang+"&type=hd&v=2&c1="+c1+"&c2="+c2+"&bt=a&bl="+adagioBL+"&rnd="+rnum;
    jQuery.getScript(adagioCallHD, function(){
      document.getElementById('bannerTop').innerHTML = adagioBCode;
      adagioBCode = "";
      if (productPage == false){
        var adagioCallST = "https://ad48.neodatagroup.com/ad/europ.jsp?site="+lang+"&type=st&v=2&c1="+c1+"&c2="+c2+"&bt=a&bl="+adagioBL+"&rnd="+rnum;
        jQuery.getScript(adagioCallST, function(){
          document.getElementById('sponsorST').innerHTML = adagioBCode;
          adagioBCode = "";
          var adagioCallST2 = "https://ad48.neodatagroup.com/ad/europ.jsp?site="+lang+"&type=st&v=2&c1="+c1+"&c2="+c2+"&bt=a&bl="+adagioBL+"&rnd="+rnum;
          jQuery.getScript(adagioCallST2, function(){
            document.getElementById('sponsorST2').innerHTML = adagioBCode;
            adagioBCode = "";

            var adagioCallSK = "https://ad48.neodatagroup.com/ad/europ.jsp?site="+lang+"&type=sk&v=2&c1="+c1+"&c2="+c2+"&bt=a&bl="+adagioBL+"&rnd="+rnum;
            jQuery.getScript(adagioCallSK, function(){
              document.getElementById('skyscraper').innerHTML = adagioBCode;
              adagioBCode = "";
              if (engineResponse == true){
                var adagioCallMD = "https://ad48.neodatagroup.com/ad/europ.jsp?site="+lang+"&type=md&v=2&c1="+c1+"&c2="+c2+"&bt=a&bl="+adagioBL+"&rnd="+rnum;
                jQuery.getScript(adagioCallMD, function(){
                  document.getElementById('bannerMiddle').innerHTML = adagioBCode;
                  adagioBCode = "";
                  if (engineResponse20 == true){
                    var adagioCallBD = "https://ad48.neodatagroup.com/ad/europ.jsp?site="+lang+"&type=md&v=2&c1="+c1+"&c2="+c2+"&bt=a&bl="+adagioBL+"&rnd="+rnum;
                    jQuery.getScript(adagioCallBD, function(){
                      document.getElementById('bannerBottom').innerHTML = adagioBCode;
                    });
                  }
                });
              }
            });
          });
        });
      }
    });
  });
</script>






<form method="get" action="" name="catalogProductSearch" id="catalogProductSearch" style="display:none;">
  <input name="qs" type="hidden" value="pièce de rechange"/>
</form>
<script type="text/javascript">
  var firstHeadings='06240K|06240|06240J|05790I|06205';
  var secondHeadings='06205D|06212A|06300F|21820C|05880|06242|06300|05785B|05764|05790|06245|06210|05785|06212|06242B|21820|06300A|21820F|21905|05547|05931|21820B|20580|04559|05509|06212C|05590A|20610|05732|14540|21668|06210A|07125E|05509J|05509M|08225C|14540A|19630|06270|20540|06240B|05680|06330|05940|04663|06240C|06305|06212B|05760|06250|06295|08225|05805|05512|05775|06242A|05900|06215|05590|20590|04668|21820E|14545C|10657U|08209|08209D|06295C|04596|06240H|05583|04680|06240I|07125B|05810A|06265|05790F|05820A|06238|06255|05900B|05880C|06310|05840A|05552|05820|05577|04593|05580E|05835D|05777O|10700|05584|05935A|05935|05600';
  var firstDomainsCode='06|05';
  var secondDomainsCode='06|21|05|20|04|14|07|08|19|10';

  <!--
//script for the form catalogsearch
    $(document).ready( function() {
      if($("#catalogSearch")){
        $("#catalogSearch input[name='firstHeadings']").val(firstHeadings);
        $("#catalogSearch input[name='secondHeadings']").val(secondHeadings);
        $("#catalogSearch input[name='firstDomainsCode']").val(firstDomainsCode);
        $("#catalogSearch input[name='secondDomainsCode']").val(secondDomainsCode);
      }
    });
  -->
</script>

<script type="text/javascript">
  Europages.google.datasource = [


    {
      'coordinates' : [49.509597,8.449362],
      'infos' : {
        'uid' : "00000005316020",
        'sid' : "001"
      }
    },


    {
      'coordinates' : [44.600083,10.409898],
      'infos' : {
        'uid' : "SEAC000065034",
        'sid' : "001"
      }
    },


    {
      'coordinates' : [53.923773,10.723351],
      'infos' : {
        'uid' : "DEU098707",
        'sid' : "00101"
      }
    },


    {
      'coordinates' : [45.775306,4.927873],
      'infos' : {
        'uid' : "00000005324080",
        'sid' : "620479001"
      }
    },


    {
      'coordinates' : [51.372290,7.250120],
      'infos' : {
        'uid' : "K98001112",
        'sid' : "00101"
      }
    },


    {
      'coordinates' : [47.679970,10.081510],
      'infos' : {
        'uid' : "00000004780519",
        'sid' : "001"
      }
    },


    {
      'coordinates' : [45.296599,11.558525],
      'infos' : {
        'uid' : "SEAC000821970",
        'sid' : "002"
      }
    },


    {
      'coordinates' : [46.018975,13.285918],
      'infos' : {
        'uid' : "SEAC000438346",
        'sid' : "001"
      }
    },



    {
      'coordinates' : [40.880404,29.272860],
      'infos' : {
        'uid' : "00000004573170",
        'sid' : "405276001"
      }
    },


    {
      'coordinates' : [41.235156,-73.701834],
      'infos' : {
        'uid' : "00000004721529",
        'sid' : "521148001"
      }
    },


    {
      'coordinates' : [48.645126,2.273238],
      'infos' : {
        'uid' : "FRA068412",
        'sid' : "001"
      }
    },


    {
      'coordinates' : [5.297352,-3.998153],
      'infos' : {
        'uid' : "00000003577089",
        'sid' : "70921001"
      }
    },


    {
      'coordinates' : [49.648601,5.963116],
      'infos' : {
        'uid' : "00000004722516",
        'sid' : "001"
      }
    },


    {
      'coordinates' : [49.966162,5.927528],
      'infos' : {
        'uid' : "LUX006641",
        'sid' : "00101"
      }
    },


    {
      'coordinates' : [49.832994,6.095463],
      'infos' : {
        'uid' : "LUX004203",
        'sid' : "00101"
      }
    },


    {
      'coordinates' : [49.041622,1.157136],
      'infos' : {
        'uid' : "FRA474860",
        'sid' : "00101"
      }
    },


    {
      'coordinates' : [43.687421,-0.176264],
      'infos' : {
        'uid' : "00000005269505",
        'sid' : "001"
      }
    },


    {
      'coordinates' : [35.933333,0.833333],
      'infos' : {
        'uid' : "00000003989183",
        'sid' : "257178001"
      }
    },


    {
      'coordinates' : [33.533333,-7.583333],
      'infos' : {
        'uid' : "00000004557632",
        'sid' : "349608001"
      }
    },


    {
      'coordinates' : [36.806495,10.181532],
      'infos' : {
        'uid' : "00000004697697",
        'sid' : "496494001"
      }
    },


    {
      'coordinates' : [43.933758,4.911124],
      'infos' : {
        'uid' : "00000004457402",
        'sid' : "309339001"
      }
    },


    {
      'coordinates' : [49.267574,1.879235],
      'infos' : {
        'uid' : "00000004623529",
        'sid' : "432372001"
      }
    },


    {
      'coordinates' : [40.037448,16.226364],
      'infos' : {
        'uid' : "00000005273086",
        'sid' : "587489001"
      }
    },


    {
      'coordinates' : [50.393139,7.572479],
      'infos' : {
        'uid' : "DEU034917",
        'sid' : "00101"
      }
    },


    {
      'coordinates' : [48.150582,14.006741],
      'infos' : {
        'uid' : "AUT057929",
        'sid' : "337646001"
      }
    },


    {
      'coordinates' : [52.320410,9.726350],
      'infos' : {
        'uid' : "00000003617537",
        'sid' : "83184001"
      }
    },


    {
      'coordinates' : [41.014771,28.777501],
      'infos' : {
        'uid' : "00000005325129",
        'sid' : "622039001"
      }
    },


    {
      'coordinates' : [51.046870,6.992270],
      'infos' : {
        'uid' : "00000004609171",
        'sid' : "420707001"
      }
    },


    {
      'coordinates' : [44.712667,10.595762],
      'infos' : {
        'uid' : "00000004660420",
        'sid' : "461408001"
      }
    },

  ];
</script>

<footer role="contentinfo" itemscope itemtype="https://schema.org/WPFooter">


  <div class="footer-middle">
    <div class="wrapper clearfix">
      <div class="col-left">
        <span class="head-title">A propos d'ImpExt</span>
        <p>ImpExt est une plateforme B2B Européenne disponible en 26 versions linguistiques. Avec 3 millions d'entreprises inscrites, principalement des fabricants, grossistes, distributeurs et prestataires de services, ImpExt attire chaque mois plus de 2 millions de décideurs à la recherche de partenaires commerciaux, fournisseurs ou prestataires en Europe et dans le monde.</p>
        <p>Depuis mai 2019, la plateforme Européenne ImpExt et la Place de Marché B2B Wer Liefert Was (WLW), leader en Allemagne, Autriche et Suisse sont réunies sous la nouvelle entité Visable.</p>
        <div class="link">
          <a onclick="return tag.click.send({elem:this, name:'termes_et_conditions', chapter1:'footer', chapter2:'a_propos_d_europages', level2:'9', type:'navigation'});" itemprop="url" href="http://corporate.europages.fr/termes-et-conditions/" title="Termes et conditions" target="_blank"><span itemprop="name">Termes et conditions</span></a>&nbsp;|&nbsp;
          <a onclick="return tag.click.send({elem:this, name:'politique_de_confidentialite', chapter1:'footer', chapter2:'a_propos_d_europages', level2:'9', type:'navigation'});" itemprop="url" href="http://corporate.europages.fr/termes-et-conditions/confidentialite/" title="Politique de confidentialité" target="_blank"><span itemprop="name">Politique de confidentialité</span></a>
        </div>
      </div>
      <div class="col-middle">
        <span class="head-title">ACHETEUR ?</span>
        <span class="sub-title">Explorer EUROPAGES en 26 langues</span>
        <a href="https://www.europages.com" title="Choisir votre langue: Europages.com" class="lang"><span class="icon icon-worldmap"></span>Choisir votre langue</a>
        <ul>


          <li><a href="https://www.europages.fr/annuaire-entreprises.html" rel="nofollow" title="Parcourir les secteurs d'activité" onclick="return tag.click.send({elem:this, name:'parcourir_les_secteurs', chapter1:'explorer_les_secteurs_d_activite', level2:'1', type:'navigation'});"><span itemprop="name">Parcourir les secteurs d'activité</span></a></li>
          <li><a rel="nofollow" href="https://www.europages.fr/produits.html" title="Découvrir les nouveaux produits publiés" onclick="return tag.click.send({elem:this, name:'plus_de_produits', chapter1:'focus_produits', level2:'1', type:'navigation'});"><span itemprop="name">Découvrir les nouveaux produits publiés</span></a></li>


        </ul>

      </div>
      <div class="col-right">
        <span class="head-title">FOURNISSEUR ?</span>
        <span class="sub-title">Votre entreprise sur EUROPAGES</span>
        <ul>
          <li><a onclick="return tag.click.send({elem:this, name:'creer_votre_page_web', chapter1:'footer', chapter2:'inscrire_votre_entreprise', level2:'9', type:'navigation'});" itemprop="url" href="http://promote-your-business.europages.com/FR/" title="Référencer votre entreprise sur EUROPAGES" target="_blank"><span itemprop="name">Référencer votre entreprise sur ImpExt</span></a></li>
          <li><a onclick="return tag.click.send({elem:this, name:'devenez_membre_premium', chapter1:'footer', chapter2:'inscrire_votre_entreprise', level2:'9', type:'navigation'});" itemprop="url" href="http://catalogueform.display.europages.com/francais" title="Exposer vos produits sur EUROPAGES" target="_blank"><span itemprop="name">Exposer vos produits sur ImpExt</span></a></li>
          <li><a onclick="return tag.click.send({elem:this, name:'connectez-vous_a_votre_compte_myeuropages', chapter1:'footer', chapter2:'actualisez_votre_page_web', level2:'9', type:'navigation'});" itemprop="url" href="https://www.europages.fr/myEuropages/" title="Animer votre Page Entreprise" target="_blank"><span itemprop="name">Animer votre Page Entreprise</span></a></li>
          <li><a onclick="return tag.click.send({elem:this, name:'contactez-nous_par_email', chapter1:'footer', chapter2:'contacter_europages', level2:'9', type:'action'});" itemprop="url" href="https://europages.zendesk.com/hc/fr/requests/new" title="Une question ? Une remarque sur le site ?" class="with-icon" target="_blank"><span itemprop="name"><span class="icon icon-footer-email"></span>Plus d'info sur notre offre ?</span></a></li>
        </ul>
        <span class="sub-head">Découvrir</span>
        <ul>
          <li><a onclick="return tag.click.send({elem:this, name:'solutions_marketing_b2b', chapter1:'footer', chapter2:'a_propos_d_europages', level2:'9', type:'navigation'});" itemprop="url" href="http://corporate.europages.fr/solutions-marketing-b2b/" title="Les solutions marketing B2B d'ImpExt" target="_blank"><span itemprop="name">Les solutions marketing B2B d'ImpExt</span></a></li>

          <li><a onclick="return tag.click.send({elem:this, name:'temoignages_clients', chapter1:'footer', chapter2:'a_propos_d_europages', level2:'9', type:'navigation'});" itemprop="url" href="http://corporate.europages.fr/temoignages/" title="Les témoignages de nos clients" target="_blank"><span itemprop="name">Les témoignages de nos clients</span></a></li>
          <li><a onclick="return tag.click.send({elem:this, name:'ressources_europages', chapter1:'footer', chapter2:'a_propos_d_europages', level2:'9', type:'navigation'});" itemprop="url" href="http://corporate.europages.fr/ressources/" title="Les ressources ImpExt" target="_blank"><span itemprop="name">Les ressources ImpExt</span></a></li>
        </ul>
      </div>
    </div>
  </div>

</footer>



<script type="text/javascrip_ngcontent-ehw-c1t">
$(document).ready( function() {
	onloadCommon();
	onloadSearchPage();
	sessionStorage.setItem("referrername",window.productQuery);
	sessionStorage.setItem("referrer",window.location.href);
	clickable();
	if(window.EPResponsiveType == 'SMARTPHONE') {
		formManager.init("pagelangm");
		deviceOrientation('directory');
		handleOrientationChange(null);
		unselectQueryText();
	}
});
</script>

<span style="display:none;">DC:FRANKFURT</span>

<div id="genloader" style="display:none">Recherche en cours...</div>

<div id="pageStick-btn"><div id="pageStick-Backtop-btn"><span class="icon icon-angle-up"></span></div></div>
<script type="text/javascript">
  $(document).ready( function() {
    common_backtop();
    var pagename = 'directory/pages/ProductList';
    if(pagename != 'directory/pages/Home') { sticky_header(); }
    if(pagename == 'directory/pages/LandingCatalogProductPage') { sticky_footer(); }
  })
</script>


<script type="text/javascript">  (function() {
  var ga = document.createElement('script');     ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:'   == document.location.protocol ? 'https://ssl'   : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>


<script type="text/javascript">
  var tag = new ATInternet.Tracker.Tag();
  var visiteur_ID = $('#tagUserId').text();
  var category_ID = $('#tagCategoryId').text();
  if (window.matchMedia('(max-width: 1000px)').matches) {
    tag.page.set({
      name : 'liste_de_resultats',
      level2 : '5',
      customObject: {
        device: 'smartphone'
      }
    });
  } else {
    tag.page.set({
      name : 'liste_de_resultats',
      level2 : '5',
      customObject: {
        device: 'desktop'
      }
    });
  }
  tag.customVars.set({
    site : {
      1 : '[pièce de rechange]',
      2 : '[fr]',
      3 : '[]',
      4 : '[]',
      5 : '[]',
      6 : '',
      7 : '',
      8 : '[]',
      9 : '[06240K]',
      10 :'[]'
    },
    page: {
      1: '[resultats_entreprises]'
    }
  });
  tag.identifiedVisitor.set({
    id: visiteur_ID,
    category: category_ID
  });
  tag.internalSearch.set({
    keyword: '[pièce de rechange]',
    resultPageNumber: '[1]'
  });
  var listUidSid = ["00000005316020-001", "SEAC000065034-001", "DEU098707-00101", "00000005324080-620479001", "K98001112-00101", "00000004780519-001", "SEAC000821970-002", "SEAC000438346-001", "00000004822877-001", "00000004573170-405276001", "00000004721529-521148001", "FRA068412-001", "00000003577089-70921001", "00000004722516-001", "LUX006641-00101", "LUX004203-00101", "FRA474860-00101", "00000005269505-001", "00000003989183-257178001", "00000004557632-349608001", "00000004697697-496494001", "00000004457402-309339001", "00000004623529-432372001", "00000005273086-587489001", "DEU034917-00101", "AUT057929-337646001", "00000003617537-83184001", "00000005325129-622039001", "00000004609171-420707001", "00000004660420-461408001"];
  var indexPage = '[1]';
  $.each(listUidSid, function(key,item) {
    tag.publisher.add({
      impression : {
        campaignId : '3',
        creation : '[E_card]',
        variant: '['+key+']',
        format : '['+item+']'
      }
    });
  });
  tag.dispatch();
</script>


<div style="display:none">
  <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 971161267;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
    /* <![CDATA[ */
    var google_conversion_id = 968317085;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
  </script>
  <!-- <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script> -->
  <noscript>
    <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/971161267/?value=0&amp;guid=ON&amp;script=0"/>
      <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/968317085/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
  </noscript>
  <script>
    var cookieScripts=document.getElementsByTagName("script"),
      cookieScriptSrc=cookieScripts[cookieScripts.length-1].src,
      cookieQuery=null,
      cookieScriptPosition="bottom",
      cookieScriptSource="cookie-script.com",
      cookieScriptDomain="europages.fr",
      cookieScriptReadMore="http://corporate.europages.fr/services-et-solutions/termes-et-conditions/confidentialite.html",
      cookieId="d118fcbea785fa96c3c0cda37a78e24d",
      cookieScriptDebug=0,
      cookieScriptCurrentUrl=window.location.href,
      cookieScriptTitle="",
      cookieScriptDesc="Pour une meilleure exp\u00e9rience utilisateurs, Europages utilise des cookies. En poursuivant votre navigation sur le site, vous acceptez les cookies en accord avec notre politique de confidentialit\u00e9. ",
      cookieScriptAccept="Fermer",
      cookieScriptMore="En savoir plus",
      cookieScriptCopyrights="Fermer";
  </script>
  <script src="https://www.europages.com/commons/js/cs/cookiescript.js"></script>
</div>
</body>
</html>
